{% extends "base.html" %}

{% block content %}
<h1> {{ section.title }} </h1>

{% if section.extra and section.extra.is_construction == "yes" %}
<img src="/404.jpeg" class="marquee-image" alt="Under construction">
{% else %}
<ul class="post-list">
  {% for page in section.pages %}
  <li class="post-card">
    {% if page.extra.featured_image %}
    <div class="post-card-media">
      {% set image = resize_image(path=page.extra.featured_image, width=350, height=250, op="fill") %}
      <img src="{{ image.url }}" alt="" loading="lazy">
    </div>
    {% elif page.extra.book_cover %}
    <div class="post-card-media">
      {% set image = resize_image(path=page.extra.book_cover, width=200, height=300, op="fill") %}
      <img src="{{ image.url }}" alt="" loading="lazy">
    </div>
    {% endif %}
    <div class="post-card-body">
      <div class="post-card-title">
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
      </div>
      <div class="post-card-meta">{{ page.date }}</div>
      {% if page.reading_time %}
      <div class="post-card-meta">{% if page.reading_time > 1 %} {{ page.reading_time }} mins {% else %} {{ page.reading_time }} min {% endif %}</div>
      {% endif %}
      {% if page.description %}
      <div class="post-card-desc">{{ page.description }}</div>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
{% endif %}

{% endblock content %}
