{% extends "base.html" %}

{% block content %}

<h1 class="title">
  joseph li's website
</h1>

<h2>stuff</h2>
<ul style="list-style: none;">
  <!-- <li style="font-size: 22pt;"><img src="https://emojicdn.elk.sh/📄?style=apple" alt="📄" style="height: 1em; vertical-align: -0.1em;"> <a href="{{ get_url(path='@/pages/_index.md') }}">pages</a></li> -->
  <li style="font-size: 22pt;"><img src="https://emojicdn.elk.sh/💬?style=apple" alt="💬" style="height: 1em; vertical-align: -0.1em;"> <a href="{{ get_url(path='@/personal_blog/_index.md') }}">personal blog</a></li>
  <li style="font-size: 22pt;"><img src="https://emojicdn.elk.sh/🛠️?style=apple" alt="🛠️" style="height: 1em; vertical-align: -0.1em;"> <a href="{{ get_url(path='@/projects/_index.md') }}">projects</a></li>
  <li style="font-size: 22pt;"><img src="https://emojicdn.elk.sh/🐈?style=apple" alt="🐈" style="height: 1em; vertical-align: -0.1em;"> <a href="{{ get_url(path='@/cat_cafe/_index.md') }}">cat cafe</a></li>
  <li style="font-size: 22pt;"><img src="https://emojicdn.elk.sh/🔗?style=apple" alt="🔗" style="height: 1em; vertical-align: -0.1em;"> <a href="{{ get_url(path='@/pages/links.md') }}">links to stuff i like</a></li>
  <li style="font-size: 22pt;"><img src="https://emojicdn.elk.sh/🦉?style=apple" alt="🦉" style="height: 1em; vertical-align: -0.1em;"> <a href="{{ get_url(path='@/pages/words.md') }}">words of wisdom</a></li>
  <li style="font-size: 22pt;"><img src="https://emojicdn.elk.sh/📚?style=apple" alt="📚" style="height: 1em; vertical-align: -0.1em;"> <a href="{{ get_url(path='@/pages/books.md') }}">books</a></li>


</ul>

<h2>more stuff</h2>
<ul style="list-style: none;">
  <li style="font-size: 22pt;">{{ self::github_icon() | safe }} <a href="https://github.com/joseph-x-li">github⇗</a></li>
  <li style="font-size: 22pt;">{{ self::linkedin_icon() | safe }} <a href="https://linkedin.com/in/joseph-x-li">linkedin⇗</a></li>
  <li style="font-size: 22pt;">{{ self::strava_icon() | safe }} <a href="https://www.strava.com/athletes/45137849">strava⇗</a></li>
  <li style="font-size: 22pt;">{{ self::youtube_icon() | safe }} <a href="https://www.youtube.com/@josephli3561">youtube⇗</a></li>
</ul>
{% endblock content %}